/**
 * =================================================================================
 * ADS
 * =================================================================================
 */

.ads {
    align-items: center;
    background: $gray-color-2;
    display: flex;
    height: 85px;
    justify-content: center;
    margin: 20px 0 20px 0 !important;
    width: 100%;

    span {
        color: $gray-color-4;
        font-family: $pt-sans-narrow;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 480px) {
    .ads {
        span {
            font-size: 28px;
        }
    }
}

@media screen and (min-width: 920px) {
    .ads {
        span {
            font-size: 32px;
        }
    }
}