/**
 * =================================================================================
 * BASE
 * =================================================================================
 */

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
}

body {
    background: $background-color;
    display: flex;
    font-family: $roboto;
    flex-direction: column;
    min-height: 100%;
}

form {
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

a {
    color: $blue-color-1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}