/**
 * =================================================================================
 * COLUMNS
 * =================================================================================
 */

.columns {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    width: 100%;

    &__section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width: 860px) {
    .columns {
        column-gap: 30px;
        flex-direction: row;
        row-gap: 0;

        &__section {
            flex: 1;
        }

        &__aside {
            width: 300px;
        }
    }
}