/**
 * =================================================================================
 * HIGHLIGHTS
 * =================================================================================
 */

.highlights {
    background: $white-color-1;
    border-top: 4px solid $blue-color-1;
    border-radius: $border-radius-3;
    margin: 0 0 42px 0;
    position: relative;

    &__title {
        align-items: center;
        background: $blue-color-1;
        border-radius: $border-radius-5;
        color: $white-color-1;
        display: flex;
        font-family: $pt-sans-narrow;
        font-size: 23px;
        font-weight: 700;
        height: 40px;
        left: 0;
        padding: 0 20px 0 20px;
        position: absolute;
        text-transform: uppercase;
        top: 0;
        width: max-content;
    }

    &__carousel {
        height: 100%;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 140px;
    }

    &__cover {
        align-items: center;
        background: $white-color-1;
        border: 1px solid $gray-color-1;
        border-radius: $border-radius-4;
        display: flex;
        height: 208px;
        justify-content: center;
        margin: 0 0 10px 0;
        width: 100%;
    }

    &__img {
        border-radius: $border-radius-7;
        height: 198px;
        width: calc(100% - 8px);
    }
}

@media screen and (min-width: 320px) {
    .highlights {
        padding: 60px 10px 30px 10px;
    }
}