/**
 * =================================================================================
 * HIGHLIGHTS
 * =================================================================================
 */

.highlights {
    &__preloader {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__menu {
        display: none;
    }

    &__carousel {
        height: 100%;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 140px;
    }

    &__cover {
        align-items: center;
        background: $white-color-1;
        border: 1px solid $gray-color-1;
        border-radius: $border-radius-4;
        display: flex;
        height: 208px;
        justify-content: center;
        margin: 0 0 10px 0;
        width: 100%;
    }

    &__link {
        align-items: center;
        background: $gray-color-3;
        border-radius: $border-radius-7;
        display: flex;
        height: 198px;
        justify-content: center;
        width: calc(100% - 8px);
    }

    &__img {
        border-radius: $border-radius-7;
        height: 100%;
        transition: .04s ease-in-out;
        width: 100%;

        &:hover {
            opacity: .88;
        }
    }

    &__chapter {
        background: rgba($black-color-2, .7);
        border-radius: $border-radius-8;
        color: $white-color-1;
        font-family: $pt-sans-narrow;
        font-size: 21px;
        font-weight: 700;
        padding: 8px 11px 8px 11px;
        position: absolute;
        right: 5px;
        top: 20px;
        transition: .08s ease-in-out;

        &:hover {
            background: rgba($black-color-2, .88);
            text-decoration: none;
        }
    }

    &__title {
        align-items: center;
        background: $white-color-4;
        border-radius: $border-radius-1;
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        transition: .08s ease-in-out;
        width: 100%;
        word-break: break-word;

        &:hover {
            background: lighten($white-color-4, 2%);

            a {
                color: $blue-color-1;
            }
        }

        a {
            color: $black-color-3;
            font-family: $pt-sans-narrow;
            font-size: 19px;
            font-weight: 700;
            height: 100%;
            padding: 14px 8px 14px 8px;
            text-decoration: none;
            text-transform: capitalize;
            transition: .08s ease-in-out;
            width: 100%;
        }
    }
}

@media screen and (min-width: 740px) {
    .highlights {
        &__menu {
            display: block;
        }

        &__list {
            column-gap: 30px;
            display: flex;
            position: absolute;
            right: 40px;
            top: 20px;

            &-link {
                color: $gray-color-6;
                font-family: $rajdhani;
                font-size: 14px;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }

                &.active {
                    color: $blue-color-1;
                }
            }
        }
    }
}