/**
 * =================================================================================
 * MANGAS
 * =================================================================================
 */

.mangas {
    &__summary {
        border-bottom: 1px solid $gray-color-1;
        display: flex;
        padding: 20px 0 20px 0;
        width: 100%;

        &:only-child,
        &:first-child {
            padding: 0 0 20px 0;
        }
    }

    &__cover {
        align-items: center;
        background: $white-color-1;
        border: 1px solid $gray-color-1;
        border-radius: $border-radius-4;
        display: flex;
        height: 166px;
        justify-content: center;
        margin: 0 8px 0 0;
        width: 106px;
    }

    &__link {
        align-items: center;
        background: $gray-color-3;
        border-radius: $border-radius-7;
        display: flex;
        height: 156px;
        justify-content: center;
        width: calc(100% - 8px);
    }

    &__img {
        border-radius: $border-radius-7;
        height: 100%;
        width: 100%;
    }

    &__recents {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }
}

.recents {
    &__title {
        color: $black-color-2;
        font-family: $pt-sans-narrow;
        font-size: 23px;
        font-weight: 700;
        margin: 0 0 8px 0;
    }

    &__time,
    &__scan {
        align-items: center;
        color: $gray-color-4;
        display: flex;
        font-family: $roboto-condensed;
        font-size: 14px;
        font-weight: 500;
        height: 18px;
    }

    &__icon {
        align-items: center;
        display: flex;
        color: $blue-color-1;
        font-size: 14px;
        height: 18px;
        justify-content: center;
        margin: 0 2px 0 0;
        width: 18px;
    }
}

.chapters {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin: 0 0 8px 0;
        width: 100%;
    }

    &__list-item {
        align-items: center;
        background: $white-color-1;
        border: 1px solid $gray-color-1;
        border-radius: $border-radius-3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6px 13px 6px 13px;
    }

    &__list-link {
        color: $black-color-2;
        font-family: $pt-sans-narrow;
        font-size: 20px;
        font-weight: 700;

        &:hover {
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 480px) {
    .mangas {
        &__cover {
            height: 186px;
            width: 122px;
        }

        &__link {
            height: 176px;
        }
    }

    .recents {
        &__title {
            font-size: 25px;
            margin: 0 0 10px 0;
        }
    }

    .chapters {
        &__list {
            margin: 0 0 10px 0;
        }

        &__list-item {
            padding: 10px 16px 10px 16px;
        }
    }
}

@media screen and (min-width: 860px) {
    .mangas {
        &__cover {
            height: 194px;
            margin: 0 12px 0 0;
            width: 130px;
        }

        &__link {
            height: 184px;
        }
    }
}