/**
 * =================================================================================
 * MANGÁ
 * =================================================================================
 */

.manga {
    width: 100%;

    &__summary {
        align-items: center;
        display: grid;
        grid-template-areas: 'cover' 'info' 'synopsis';
        height: 100%;
        row-gap: 16px;
        width: 100%;

        .wrapper {
            align-items: center;
            display: flex;
            grid-area: cover;
            height: 100%;
            justify-content: center;
            width: 100%;
        }
    }

    &__cover {
        align-items: center;
        background: $white-color-1;
        border: 1px solid $gray-color-1;
        border-radius: $border-radius-4;
        display: flex;
        height: 302px;
        justify-content: center;
        width: 200px;
    }

    &__img {
        border-radius: $border-radius-7;
        height: 290px;
        width: calc(100% - 10px);
    }

    &__info {
        align-items: center;
        display: flex;
        flex-direction: column;
        grid-area: info;
        height: 100%;
        width: 100%;
    }

    &__title {
        color: $black-color-2;
        font-family: $pt-sans-narrow;
        font-size: 33px;
        font-weight: 700;
        margin: 0 0 12px 0;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
    }

    &__info {
        .types {
            &__list {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                justify-content: center;
                margin: 0 0 12px 0;
                width: 100%;

                &-item {
                    align-items: center;
                    border: 1px solid $gray-color-1;
                    border-radius: $border-radius-9;
                    color: $blue-color-1;
                    display: flex;
                    font-family: $pt-sans-narrow;
                    font-size: 15px;
                    font-weight: 700;
                    height: 26px;
                    justify-content: center;
                    padding: 0 15px 0 15px;
                    text-transform: uppercase;
                }
            }
        }

        .genres {
            &__list {
                justify-content: center;
                margin: 0 0 0 0;
                width: 100%;

                &-link {
                    font-size: 18px;
                    height: 34px;
                    padding: 0 15px 0 15px;
                }
            }
        }
    }

    &__synopsis {
        align-items: center;
        display: flex;
        grid-area: synopsis;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    &__datasheet {
        margin: 26px 0 0 0;
        overflow-x: auto;
        width: 100%;
    }
}

.info {
    &__status {
        align-items: center;
        border-radius: $border-radius-10;
        color: $white-color-1;
        display: flex;
        font-family: $pt-sans-narrow;
        font-size: 19px;
        font-weight: 700;
        height: 34px;
        justify-content: center;
        margin: 0 0 12px 0;
        padding: 0 15px 0 15px;
        text-transform: uppercase;
        width: max-content;
    }
}

.synopsis {
    &__text {
        color: $black-color-3;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
}

.datasheet {
    &__table {
        min-width: 580px;
        width: 100%;

        tr {
            border-bottom: 1px solid $gray-color-1;
            color: $black-color-3;
            display: flex;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 500;
            width: 100%;

            &:only-child {
                border-bottom: 1px solid $gray-color-1;
                border-top: 1px solid $gray-color-1;
            }

            &:first-child {
                border-top: 1px solid $gray-color-1;
            }

            &:last-child {
                border-bottom: 1px solid $gray-color-1;
            }

            th,
            td {
                padding: 10px 12px 10px 0;
            }

            th {
                display: flex;
                justify-content: start;
                width: 190px;
            }

            td {
                flex: 1;
                text-align: start;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 548px) {
    .manga {
        &__summary {
            grid-template-areas: 'cover info' 'synopsis synopsis';
            grid-template-columns: calc(200px + 16px) auto;

            .wrapper {
                align-items: start;
                justify-content: start;
            }
        }

        &__info {
            align-items: start;
            justify-content: start;

            .types {
                &__list {
                    justify-content: start;
                }
            }

            .genres {
                &__list {
                    justify-content: start;
                }
            }
        }

        &__title {
            text-align: start;
        }
    }
}

@media screen and (min-width: 622px) {
    .manga {
        &__summary {
            grid-template-areas: 'cover info' 'cover synopsis';
            grid-template-rows: auto 1fr;
        }

        &__synopsis {
            align-items: start;
        }
    }

    .synopsis {
        &__text {
            text-align: start;
        }
    }
}