/**
 * =================================================================================
 * MANGAS
 * =================================================================================
 */

.mangas {
    width: 100%;

    &__preloader {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__filter {
        display: grid;
        row-gap: 14px;
        grid-template-columns: 1fr;
        width: 100%;

        .container {
            height: 38px;
            position: relative;
            width: 100%;

            select {
                appearance: none;
                border: 1px solid $gray-color-1;
                border-radius: $border-radius-1;
                color: $black-color-3;
                font-family: $rajdhani;
                font-size: 15px;
                font-weight: 600;
                height: 100%;
                outline: none;
                padding: 0 12px 0 12px;
                width: 100%;
            }

            &::after {
                align-items: center;
                color: $gray-color-6;
                content: '\f078';
                display: flex;
                font: var(--fa-font-solid);
                font-size: 12px;
                height: 38px;
                justify-content: center;
                right: 0;
                top: 0;
                pointer-events: none;
                position: absolute;
                width: 38px;
            }
        }

        .reset {
            align-items: center;
            display: flex;
            background: $blue-color-1;
            border-radius: $border-radius-1;
            color: $white-color-1;
            font-family: $rajdhani;
            font-size: 16px;
            font-weight: 700;
            height: 38px;
            justify-content: center;
            transition: .04s ease-in-out;
            width: 100%;

            &:hover {
                background: darken($blue-color-1, 14%);
                text-decoration: none;
            }

            .icon {
                align-items: center;
                display: flex;
                height: 38px;
                justify-content: center;
                width: 38px;
            }
        }
    }

    .item {
        &:only-child {
            border-bottom: none;
            padding: 0 0 0 0 !important;
        }

        &:last-child {
            border-bottom: none;
            padding: 20px 0 0 0;
        }
    }

    &__search {
        margin: 0 0 20px 0;
        width: 100%;

        .search {
            &__form {
                border-bottom: 1px solid $gray-color-1;
                padding: 0 0 20px 0;
                position: relative;
                width: 100%;
            }

            &__input {
                background: $white-color-2;
                color: $gray-color-6;
                font-family: $roboto;
                font-size: 18px;
                font-weight: 500;
                height: 50px;
                outline: none;
                padding: 0 52px 0 18px;
                width: 100%;

                &::placeholder {
                    color: lighten($gray-color-6, 26%);
                }
            }

            &__button {
                background: none;
                border: none;
                color: $blue-color-1;
                font-size: 22px;
                height: 50px;
                outline: none;
                position: absolute;
                right: 0;
                width: 50px;
            }
        }
    }

    &__summary {
        border-bottom: 1px solid $gray-color-1;
        display: flex;
        padding: 20px 0 20px 0;
        width: 100%;

        &:only-child {
            border-bottom: none;
            padding: 0 0 0 0 !important;
        }

        &:first-child {
            padding: 0 0 20px 0 !important;
        }

        &:last-child {
            border-bottom: none;
            padding: 20px 0 0 0;
        }
    }

    &__cover {
        align-items: center;
        background: $white-color-1;
        border: 1px solid $gray-color-1;
        border-radius: $border-radius-4;
        display: flex;
        height: 166px;
        justify-content: center;
        margin: 0 8px 0 0;
        width: 106px;
    }

    &__link {
        align-items: center;
        background: $gray-color-3;
        border-radius: $border-radius-7;
        display: flex;
        height: 156px;
        justify-content: center;
        width: calc(100% - 8px);
    }

    &__img {
        border-radius: $border-radius-7;
        height: 100%;
        transition: .04s ease-in-out;
        width: 100%;

        &:hover {
            opacity: .88;
        }
    }

    &__recents,
    &__item {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }

    &__item {
        .types {
            width: 100%;

            &__list {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                margin: 0 0 8px 0;
                width: 100%;

                &-item {
                    align-items: center;
                    border: 1px solid $gray-color-1;
                    border-radius: $border-radius-9;
                    color: $blue-color-1;
                    display: flex;
                    font-family: $pt-sans-narrow;
                    font-size: 14px;
                    font-weight: 700;
                    height: 24px;
                    justify-content: center;
                    padding: 0 11px 0 11px;
                    text-transform: uppercase;
                }
            }
        }

        .genres {
            &__list {
                margin: 0 0 0 0;
                width: 100%;
            }
        }
    }
}

.recents,
.item {
    &__title {
        color: $black-color-3;
        font-family: $pt-sans-narrow;
        font-size: 23px;
        font-weight: 700;
        margin: 0 0 8px 0;
        text-transform: capitalize;
        transition: .1s ease-in-out;
        width: 100%;

        &:hover {
            color: $blue-color-1;
        }
    }
}

.recents {

    &__time,
    &__scan {
        align-items: center;
        color: $gray-color-6;
        display: flex;
        font-family: $roboto-condensed;
        font-size: 14px;
        font-weight: 500;
        height: 18px;
        width: 100%;
    }

    &__icon {
        align-items: center;
        color: $blue-color-1;
        display: flex;
        font-size: 14px;
        height: 18px;
        justify-content: center;
        margin: 0 2px 0 0;
        width: 18px;
    }
}

.item {
    &__status {
        align-items: center;
        border-radius: $border-radius-10;
        color: $white-color-1;
        display: flex;
        font-family: $pt-sans-narrow;
        font-size: 16px;
        font-weight: 700;
        height: 30px;
        justify-content: center;
        margin: 0 0 8px 0;
        padding: 0 11px 0 11px;
        text-transform: uppercase;
        width: max-content;
    }
}

.chapters {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin: 0 0 10px 0;
        width: 100%;

        &-link {
            align-items: center;
            background: $white-color-1;
            border-radius: $border-radius-3;
            color: $black-color-3;
            display: flex;
            flex-wrap: wrap;
            font-family: $pt-sans-narrow;
            font-size: 20px;
            font-weight: 700;
            justify-content: center;
            outline: 1px solid $gray-color-1;
            padding: 6px 13px 6px 13px;
            transition: .08s ease-in-out;

            &:hover {
                color: $blue-color-1;
                outline: 2px solid $blue-color-1;
                text-decoration: none;
            }
        }
    }
}

.button {
    &-wrapper {
        border-top: 1px solid $gray-color-1;
        margin: 20px 0 0 0;
        padding: 10px 0 0 0;
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .mangas {
        &__cover {
            height: 186px;
            width: 122px;
        }

        &__link {
            height: 176px;
        }

        &__item {
            .genres {
                &__list {
                    gap: 10px;
                }
            }
        }
    }

    .recents,
    .item {
        &__title {
            font-size: 25px;
            margin: 0 0 10px 0;
        }
    }

    .chapters {
        &__list {
            margin: 0 0 14px 0;

            &-link {
                padding: 10px 16px 10px 16px;
            }
        }
    }
}

@media screen and (min-width: 586px) {
    .mangas {
        &__item {
            .genres {
                &__list {
                    &-link {
                        font-size: 17px;
                        height: 32px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 860px) {
    .mangas {
        &__cover {
            height: 194px;
            margin: 0 12px 0 0;
            width: 130px;
        }

        &__link {
            height: 184px;
        }
    }
}