/**
 * =================================================================================
 * MODIFIERS
 * =================================================================================
 */

.socials {
    &--facebook {
        background: $facebook-box-color;
    }

    &--twitter-x {
        background: $twitter-x-box-color;
    }

    &--discord {
        background: $discord-box-color;
    }

    &--contact {
        background: $contact-box-color;
    }
}

.copy {
    &__link {
        &--author {
            color: $black-primary-color;
        }
    }
}