/**
 * =================================================================================
 * MODIFIERS
 * =================================================================================
 */

.pb {
    &--30 {
        padding-bottom: 30px !important;
    }
}

.mb {
    &--0 {
        margin-bottom: 0px !important;
    }

    &--5 {
        margin-bottom: 5px !important;
    }
}

.mt {
    &--12 {
        margin-top: 12px !important;
    }

    &--18 {
        margin-top: 18px !important;
    }
}

.status {
    &--canceled {
        background: $status-canceled;
    }

    &--complete {
        background: $status-complete;
    }

    &--on-going {
        background: $status-on-going;
    }

    &--paused {
        background: $status-paused;
    }
}

.text {
    &--blue {
        color: $blue-color-1;
    }
}

.alert {
    &--danger {
        background: $alert-danger-background;
        border: 1px solid $alert-danger-border;
        color: $alert-danger-color;
    }

    &--default {
        background: $alert-default-background;
        border: 1px solid $alert-default-border;
        color: $alert-defualt-color;
    }

    &--success {
        background: $alert-success-background;
        border: 1px solid $alert-success-border;
        color: $alert-success-color;
    }

    &--warning {
        background: $alert-warning-background;
        border: 1px solid $alert-warning-border;
        color: $alert-warning-color;
    }
}

.socials {
    &--facebook {
        background: $brands-facebook-color;
    }

    &--twitter-x {
        background: $brands-twitter-x-color;
    }

    &--discord {
        background: $brands-discord-color;
    }

    &--contact {
        background: $blue-color-1;
    }
}

.copy {
    &__link {
        &--author {
            color: $black-color-3;
        }
    }
}