/**
 * =================================================================================
 * MODIFIERS
 * =================================================================================
 */

.mb {
    &--0 {
        margin-bottom: 0px !important;
    }

    &--5 {
        margin-bottom: 5px !important;
    }
}

.status {
    &--canceled {
        background: $status-canceled;
    }
    
    &--complete {
        background: $status-complete;
    }

    &--on-going {
        background: $status-on-going;
    }

    &--paused {
        background: $status-paused;
    }
}

.socials {
    &--facebook {
        background: $brands-facebook-color;
    }

    &--twitter-x {
        background: $brands-twitter-x-color;
    }

    &--discord {
        background: $brands-discord-color;
    }

    &--contact {
        background: $blue-color-1;
    }
}

.copy {
    &__link {
        &--author {
            color: $black-color-2;
        }
    }
}