/**
 * =================================================================================
 * PAGINATION
 * =================================================================================
 */

.pagination {
    margin: 30px 0 0 0 !important;
    width: 100%;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        width: 100%;

        &-item {
            span {
                color: $gray-color-5;
            }
        }

        &-link {
            align-items: center;
            background: $white-color-1;
            border: 1px solid $gray-color-1;
            border-radius: $border-radius-1;
            color: $black-color-3;
            display: flex;
            font-family: $rajdhani;
            font-size: 16px;
            font-weight: 700;
            height: 37px;
            justify-content: center;
            width: 37px;

            &:not(span):hover {
                color: $blue-color-1;
                border: 2px solid $blue-color-1;
                text-decoration: none;
            }

            &.active {
                color: $blue-color-1;
                border: 2px solid $blue-color-1;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .pagination {
        &__list {
            &-link {
                font-size: 17px;
                height: 40px;
                width: 40px;
            }
        }
    }
}