/**
 * =================================================================================
 * RANKING
 * =================================================================================
 */

.ranking {
    display: grid;
    grid-template-columns: 1fr;

    &__summary {
        border-bottom: 1px solid $gray-color-1;
        display: flex;
        padding: 20px 0 20px 0;
        width: 100%;

        &:first-child {
            padding: 0 0 20px 0;
        }

        &:last-child {
            border-bottom: none;
            padding: 20px 0 0 0;
        }
    }

    &__cover {
        align-items: center;
        background: $white-color-1;
        border: 1px solid $gray-color-1;
        border-radius: $border-radius-4;
        display: flex;
        height: 144px;
        justify-content: center;
        margin: 0 10px 0 0;
        width: 96px;
    }

    &__link {
        align-items: center;
        background: $gray-color-3;
        border-radius: $border-radius-7;
        display: flex;
        height: 134px;
        justify-content: center;
        width: calc(100% - 8px);
    }

    &__img {
        border-radius: $border-radius-7;
        height: 100%;
        width: 100%;
    }

    &__info {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }
}

.info {
    &__title {
        color: $black-color-2;
        font-family: $pt-sans-narrow;
        font-size: 21px;
        font-weight: 700;
        margin: 0 0 8px 0;
        text-transform: capitalize;
    }
}

.type {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin: 0 0 8px 0;
    }
}

@media screen and (min-width: 620px) {
    .ranking {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

        &__summary {
            &:nth-child(1) {
                padding: 0 0 20px 0;
            }

            &:nth-child(2) {
                padding: 0 0 20px 0;
            }

            &:nth-child(7) {
                border-bottom: none;
                padding: 20px 0 0 0;
            }
        }
    }
}

@media screen and (min-width: 860px) {
    .ranking {
        grid-template-columns: 1fr;

        &__summary {
            &:nth-child(2) {
                padding: 20px 0 20px 0;
            }

            &:nth-child(7) {
                border-bottom: 1px solid $gray-color-1;
                padding: 20px 0 20px 0;
            }
        }
    }
}