/**
 * =================================================================================
 * SIDEBAR
 * =================================================================================
 */

.sidebar {
    background: $white-color-1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    padding: 0 10px 0 10px;
    position: fixed;
    width: 290px;
    z-index: 9999;

    &__top {
        align-items: center;
        border-bottom: 1px solid $gray-color-1;
        display: flex;
        height: 72px;
        justify-content: space-between;
        width: 100%;
    }

    &__logo {
        background: url(../img/single-logo.png) center no-repeat;
        background-size: contain;
        display: block;
        height: 60px;
        text-indent: -99999px;
        width: 46px;
    }

    &__button {
        background: $white-color-3;
        border-radius: $border-radius-1;
        height: 40px;
        transition: .04s ease-in-out;
        width: 40px;

        &:hover {
            background: $blue-color-1;

            .button {
                &__close-line {
                    background: $white-color-1;
                }
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: start;
        margin: 30px 0 62px 0;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        padding: 0 0 0 4px;
        width: 100%;

        &-link {
            color: $black-color-5;
            font-family: $rajdhani;
            font-size: 19px;
            font-weight: 700;
            transition: .1s ease-in-out;

            &:hover {
                color: $blue-color-1;
            }
        }
    }
}

.button {
    &__close-box {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__close-line {
        background: $blue-color-1;
        border-radius: 3px;
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform-origin: center;
        width: 20px;

        &:first-child {
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }

        &:last-child {
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }
}