/**
 * =================================================================================
 * VARIABLES
 * =================================================================================
 */

/*===== COLORS =====*/
$black-opacity-color: rgba(#0d0d0d, .7);
$black-color-1: #000;
$black-color-2: #181616;
$blue-gradient-color: linear-gradient(to bottom, #3da7e3 0%, #3da7e3 16%, #3da7e3 18%, #8bcdef 20%, #8bcdef 32%, #8bcdef 34%, #1d9bf0 36%, #1d9bf0 80%, #1d9bf0 82%, #1287d5 84%, #1287d5 100%);
$blue-color-1: #1d9bf0;
$blue-color-2: #188cda;
$blue-color-3: #42a9ef;
$brands-discord-color: #5966f2;
$brands-facebook-color: #0866ff;
$brands-twitter-x-color: #000;
$gray-color-1: #ebebeb;
$gray-color-2: #e5e5e5;
$gray-color-3: #ececec;
$gray-color-4: #c0c0c0;
$gray-color-5: #788184;
$gray-color-6: #7e7e7e;
$status-canceled: #f16165;
$status-complete: #04d354;
$status-on-going: #ffba05;
$status-paused: #9fa5aa;
$white-color-1: #fff;
$white-color-2: #f1f1f1;
$white-color-3: #f3f3f3;
$white-color-4: #f6f6f6;
/*===== STRUCTURE =====*/
$border-ellipse: 50%;
$border-radius-1: 8px 4px 8px 4px;
$border-radius-2: 0 0 4px 4px;
$border-radius-3: 4px 8px 8px 8px;
$border-radius-4: 4px 8px 8px 4px;
$border-radius-5: 0 0 4px 0;
$border-radius-6: 8px 8px 0 0;
$border-radius-7: 3px 6px 6px 3px;
$border-radius-8: 5px 0px 0px 3px;
$border-radius-9: 4px 2px 4px 2px;
$border-radius-10: 3px 6px 3px 6px;

/*===== FONTS =====*/
$rajdhani: 'Rajdhani', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$pt-sans-narrow: 'PT Sans Narrow', sans-serif;