/**
 * =================================================================================
 * VARIABLES
 * =================================================================================
 */

/*===== ELEMENTS COLOR - DEFAULT =====*/
$background-color: #f6f6f6;
$single-line-color: #ced8dc;
/*===== ELEMENTS COLOR - TOP SEARCH =====*/
$top-search-border-color: #188cda;
$top-search-box-border-color: #f1f1f1;
$top-search-box-color: #fff;
$top-search-box-text-color: #788184;
/*===== ELEMENTS COLOR - HEADER =====*/
$header-background-color: #fff;
$header-border-color: linear-gradient(to bottom, #3da7e3 0%, #3da7e3 16%, #3da7e3 18%, #8bcdef 20%, #8bcdef 32%, #8bcdef 34%, #1d9bf0 36%, #1d9bf0 80%, #1d9bf0 82%, #1287d5 84%, #1287d5 100%);
$header-button-color: #f3f3f3;
$header-menu-active-item-color: #42a9ef;
$header-menu-active-top-item-color: #188cda;
/*===== ELEMENTS COLOR - FOOTER =====*/
$footer-border-color: #1d9bf0;
/*===== ELEMENTS COLOR - BOX'S =====*/
$contact-box-color: #1d9bf0;
$discord-box-color: #5966f2;
$facebook-box-color: #0866ff;
$twitter-x-box-color: #000;

/*===== COLORS =====*/
$black-primary-color: #242628;
$blue-primary-color: #1d9bf0;
$gray-primary-color: #788084;
$white-color: #fff;

/*===== STRUCTURE - TOP SEARCH =====*/
$search-box-radius: 8px 4px 8px 4px;
/*===== STRUCTURE - HEADER =====*/
$header-button-radius: 8px 4px 8px 4px;
$header-menu-active-radius: 0 0 4px 4px;
/*===== STRUCTURE - FOOTER =====*/
$footer-box-radius: 8px 8px 0 0;
$footer-button-radius: 8px 4px 8px 4px;

/*===== FONTS =====*/
$font-rajdhani: 'Rajdhani', sans-serif;
$font-roboto: 'Roboto', sans-serif;