/**
 * =================================================================================
 * WINDOW
 * =================================================================================
 */

.window {
    &-overlay {
        background: rgba($black-color-4, .5);
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: calc(9999 - 1);
    }
}